/**
author: Rose Hazenberg
 */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    min-width: 700px;
}
}

.navigation {
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    color: #FFFFFF;
}

.navbar-right {
    float: right;
    padding-right: 10%;
}

.navbar-right a {
    text-decoration: none;
    padding: 10px;
    color: #FFFFFF;
    font-family: Calibri, serif;
    font-weight: 900;
    font-size: 25px;
}

.navbar-right a:hover {
    text-decoration: underline;
}

.navbar-logo  {
    height: 60px;
    padding-left: 10%;
    font-family: Calibri, serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}

@media only screen and (min-width: 601px) {
    .portfolio-section {
        margin-top: 60%;
        margin-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .portfolio-section {
        margin-top: 30%;
        margin-left: 10px;
        padding-right: 10px;
    }
}

.background-wrap {
    position: absolute;
    z-index: -1000;
    width: 100%;
    height: 60%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.background-wrap-spaces {
    position: absolute;
    z-index: -1000;
    width: 100%;
    height: 15%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.background-wrap-home {
    position: absolute;
    z-index: -1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.video-bg-elem {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

.video-bg-elem-spaces {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

.content {
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.4);
}


@media screen and (max-width: 600px) {
    .content h1 {
        text-align: center;
        font-size: 100px;
        text-transform: uppercase;
        font-weight: 300;
        color: #fff;
    }
}
@media screen and (min-width: 601px) {
    .content h1 {
        text-align: center;
        font-size: 100px;
        text-transform: uppercase;
        font-weight: 300;
        color: #fff;
    }
}

.content h1 {
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
}

.content p {
    text-align: center;
    font-size: 50px;
    letter-spacing: 3px;
    color: #aaa;
}

.error-msg {
    background-color: DarkSeaGreen;
    width: 100%
}

.ui-autocomplete {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search {
    width: 40%;
    left: 30%;
    position: absolute;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid DarkSeaGreen;
    border-right: none;
    padding: 5px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}

.searchButton {
    width: 40px;
    height: 35px;
    border: 1px solid DarkSeaGreen;
    background: DarkSeaGreen;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio {
    position: absolute;
    color: darkseagreen;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    max-lines: 1;
}

.table-style {
    background-color: #f2f2f2;
}

.custom-tooltip {
    margin: 20px;
    color: black;
    border:2px solid orange;
    font-size: 12px;
    padding: 6px 6px;
    font-style: normal;
}

.button-style {
    background-color: black;
    color: white;
    border-color: black;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    display: table;
    margin: 2px;
    float: left;
    opacity: 0.5;
}

