<!DOCTYPE html>
<!--
    Displays the about page
    author: Rose Hazenberg
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="About">_offline_</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/static/css/stylesheet.css}" rel="stylesheet" />
</head>

<div th:insert="template :: background('About Us')"></div>

<body class="portfolio-section">
    <h3>Try new recipes with us</h3>
    <p>
        <br/>
        Recipe Spaces is a company that optimizes products by providing insight into the effect of changes in the amounts of ingredients.
        One of our main goals to replace ingredients based on flavors and to visualize the effect of changes.
        <br/>
        On our website can recipes and ingredients be searched to the find the best replacement for ingredients based on their flavor.
        <br/>
        Besides finding replacements our website also visualizes an ingredient network based on the distances between ingredients.
        It also visualizes changes in the amount of ingredients by selecting two ingredients by interest.
        <br/>
        On the website there are recipes with multiple variants. For these recipes there is a visualization showing the frequency of ingredients of the multiple recipes.
        <br/>
        Recipes Spaces has one visualization that describes the meaning behind Recipe Spaces. This visualization is shows a network of ingredients.
        By every recipe you can visualize this network, which has the ingredients of the recipe you want to visualize.
        For example, the visualization of guacamole shows all the ingredients of guacamole in a network based on distances.
        <br/>
        Our company provides the best insight into the effect of changes in ingredients and networks of ingredients.
    </p>

    <h3>Development Team:</h3>
    <a href="mailto:j.baron@st.hanze.nl">Jorick Baron</a>
    <br/>
    <a href="mailto:ju.de.jong@st.hanze.nl">Jurriën de Jong</a>
    <br/>
    <a href="mailto:c.r.hazenberg@st.hanze.nl">Rose Hazenberg</a>

    <footer th:insert="template :: footer"></footer>

</body>
</html>