<!DOCTYPE html>
<!--
    Displays the about page
    author: Rose Hazenberg
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{tab.title.about}">_offline_</title>
    <link th:href="@{/static/css/stylesheet.css}" rel="stylesheet" />
</head>

<div th:insert="template :: background('About Us')"></div>

<body class="portfolio-section">
    <h3>Do you want to replace ingredient?</h3>
    <p>
        <br/>
        Let us help you.
        <br/>
        Recipe Spaces is a company that optimizes products by providing insight into the effect of changes in ingredients.
        One of our main goals is to replace ingredients based on flavors.
        <br/>
        On our website can recipes be searched and ingredients the find the best replacement for ingredients based on their flavor.
        <br/>
        Besides finding replacements our website also visualizes a recipe network based on closely recipes and their differences in the amount of ingredients.
        <br/>
        Our company provides the best insight into the effect of changes in ingredients.
    </p>
</body>
</html>