<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{tab.title.about}">_offline_</title>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" />
</head>

<header class="header">
    <div th:insert="template :: navigation-bar"></div>

    <div class="background-wrap-contact">
        <img id="video-bg-elem" alt="Ingredients" th:src="@{/images/ingredients.jpg}"/>
        <div class="content">
            <h1>About Us</h1>
        </div>
    </div>
</header>
</html>