<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{tab.title.contact}">_offline_</title>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" />
</head>

<header class="header">
<!--    <nav class="navigation">-->
<!--        <a class="navbar-logo">Recipe Spaces</a>-->
<!--        <div class="navbar-right">-->
<!--            <a th:href="@{/home}">Home</a>-->
<!--            <a href="#">About Us</a>-->
<!--            <a th:href="@{/contact}">Contact</a>-->
<!--        </div>-->
<!--    </nav>-->
    <div th:insert="template :: navigation-bar"></div>
    <div class="background-wrap-contact">
        <img id="video-bg-elem" alt="Ingredients" th:src="@{/images/ingredients.jpg}"/>
        <div class="content">
            <h1>Contact Us</h1>
        </div>
    </div>
</header>

<body class="portfolio-section">
<p class="error-msg" th:text="${msg}"></p>
<div class="container my-5 mx-5 px-5">
    <form method="post" th:object="${contact}"
          th:action="@{/contact/send}">
        <div class="field">
            <label for="name">
                Name:
            </label><br/>
            <input type="text" th:field="${contact.name}" name="name" id="name" autofocus required>
        </div><br/>
        <div class="field">
            <label for="email">
                Email:
            </label><br/>
            <input type="email" th:field="${contact.mailFrom}" name="email" id="email" required>
        </div><br/>
        <div class="field">
            <label for="subject">
                Subject:
            </label><br/>
            <input type="text" th:field="${contact.mailSubject}" name="subject" id="subject" required>
        </div><br/>
        <div class="field">
            <label for="message">
                Message:
            </label><br/>
            <textarea name="message" th:field="${contact.mailContent}" id="message" rows="5" required></textarea>
        </div><br/>
        <button type="submit">Send email</button>
    </form>
</div>
</body>
</html>