<!DOCTYPE html>
<!--
    Displays the contact page to email the developer
    author: Rose Hazenberg
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{tab.title.contact}">_offline_</title>
    <link th:href="@{/static/css/stylesheet.css}" rel="stylesheet" />
    <link th:href="@{/static/css/stylesheet-contact.css}" rel="stylesheet" />
</head>

<div th:insert="template :: background-contact"></div>

<body class="portfolio-section">
<p class="error-msg" th:text="${msg}"></p>
<div class="container my-5 mx-5 px-5">
    <form method="post" th:object="${contact}"
          th:action="@{/contact}">
        <div class="field">
            <label for="name">
                Name:
            </label><br/>
            <input type="text" th:field="${contact.name}" name="name" id="name" autofocus required>
        </div><br/>
        <div class="field">
            <label for="email">
                Email:
            </label><br/>
            <input type="email" th:field="${contact.mailFrom}" name="email" id="email" required>
        </div><br/>
        <div class="field">
            <label for="subject">
                Subject:
            </label><br/>
            <input type="text" th:field="${contact.mailSubject}" name="subject" id="subject" required>
        </div><br/>
        <div class="field">
            <label for="message">
                Message:
            </label><br/>
            <textarea name="message" th:field="${contact.mailContent}" id="message" rows="5" required></textarea>
        </div><br/>
        <button type="submit">Send email</button>
    </form>
</div>
</body>
</html>