<!DOCTYPE html>
<!--
    The page shows the home page with a search bar where recipes or ingredients can be searched.
    author: Jurriën de Jong, Jorick Baron, Rose Hazenberg
-->
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="Home">_offline_</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link th:href="@{/static/css/stylesheet.css}" rel="stylesheet" />
</head>

<body onload="autocomplete()">
<header class="header">
  <div th:insert="template :: navigation-bar"></div>

  <div class="background-wrap-home">
    <img class="video-bg-elem" alt="French Food" th:src="@{/static/images/french-food.jpg}"/>
    <div class="content">
      <form action="#" th:action="@{/home/search}" th:object="${ingredient}" method="post" id="searchbar">
        <div class="wrap">
          <h1>Find your</h1> <h1 class="currentValue"></h1>
          <div id="loading"></div>
          <div class="search">
            <input id="RecipeName" type="text" class="searchTerm currentValue" placeholder="Search here" th:field="*{tagValue}" required/>
            <button id="submit" type="submit" class="searchButton">
              <i class="glyphicon glyphicon-search"></i>
            </button>
            <div class="radio" id="radioInput">
              <form id="query">
                <label><input type="radio" name="options" value="recipe" id="recipe" checked>recipe</label>
                <label><input type="radio" name="options" value="ingredient" id="ingredient">ingredient</label>
              </form>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script>
    const currentValue = document.querySelector('.currentValue');
    const form = document.forms['searchbar'];
    const radios = Array.from(form.elements.options);


    currentValue.innerText = form.querySelector('input[name=options]:checked').value;

    function autocomplete() {
      $("#RecipeName").autocomplete({
        source: `home/${currentValue.innerText.toLowerCase()}SearchFromKeyword`,
        minLength: 3,
        delay: 0
      });
    }

    radios.forEach(radio => {
      radio.addEventListener('change', () => {
        currentValue.innerText = form.querySelector('input[name=options]:checked').value;
        autocomplete();
      });
    });

    $('#searchbar').submit(function () {
      $('#loading').show();
    });

  </script>
</header>
</body>
</html>