<!DOCTYPE html>
<!--
    Displays the molecule and their properties
    author: Jurriën de Jong (function), Rose Hazenberg (styling, wikipedia information fetch)
-->
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="'Molecule ' + ${molecule.commonName}">_offline_</title>
<head>
    <!-- jQuery -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.5.1.js">
    </script>

    <!-- DataTables CSS -->
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js">
    </script>

    <link th:href="@{/static/css/stylesheet.css}" rel="stylesheet" />
</head>

<div th:insert="template :: background('Molecular profile of ' + ${molecule.commonName})"></div>

<body class="portfolio-section">
    <table id="molecule" class="display nowrap">
        <thead>
        <tr>
            <th>ID</th>
            <th>Common Name</th>
            <th>Flavors</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${molecule.pubChemId}"></td>
                <td th:text="${molecule.commonName}"></td>
                <td th:text="${molecule.flavorProfile}"></td>
            </tr>

        </tbody>
    </table>

    <br>
    <h1>Ingredient containing <span id="moleculeName" th:text="${molecule.getCommonName()}">:</span></h1>
    <table id="ingredients" class="display nowrap">
        <thead>
        <tr>
            <th>Ingredient Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ingredient: ${ingredients}">
            <td th:text="${ingredient.getTagValue()}"></td>
        </tr>
        </tbody>
    </table>
    <div id="wiki"></div>

    <script>
        $(document).ready(function() {
            $('#molecule').DataTable({
                bFilter : false,
                "bLengthChange": false
            })

        });

        $(document).ready(function() {
            $('#ingredients').DataTable({
                bFilter : false,
                "bLengthChange": false
            })

        });

        let url = "https://en.wikipedia.org/w/api.php";
        let wikiArea = document.querySelector("#wiki");

        const params = {
            action: "query",
            titles: document.querySelector("#moleculeName").innerText,
            prop: "extracts",
            exintro: "True",
            format: "json"
        };


        url = url + "?origin=*";
        Object.keys(params).forEach(function(key){url += "&" + key + "=" + params[key];});

        fetch(url)
            .then(function(response){return response.json();})
            .then(function(response) {
                let pages = (response.query.pages);
                let pageId = Object.keys(pages)[0];
                if (pageId == -1) {
                    wikiArea.innerHTML = "";
                } else {
                    wikiArea.innerHTML = pages[pageId].extract;
                }
            })
            .catch(function(error){console.log(error);})
    </script>
</body>
</html>