<!DOCTYPE html>
<!--
    Shows the mds plot
    author: Jurriën de Jong
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<meta charset="utf-8">
<head>
    <script src='https://cdn.plot.ly/plotly-2.11.1.min.js'></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link th:href="@{/static/css/stylesheet.css}" rel="stylesheet" />
</head>

<style>
    body {
        overflow-x: hidden; /* Hide horizontal scrollbar */
        overflow-y: hidden;
    }
</style>

<body onload="makeForm()">

    <div th:insert="template :: navigation-bar"></div>

    <div class="background-wrap-spaces">
        <img class="video-bg-elem" alt="Ingredients" th:src="@{/static/images/ingredients.jpg}"/>
        <div class="content-spaces">
            Test
        </div>
    </div>

    <div id="loading"></div>
    <div id='myDiv' style="margin-top: 7.5%; left: 1%"><!-- Plotly chart will be drawn inside this DIV --></div>
    <input type="hidden" id="name" th:value="${recipeName}">


    <svg style="margin-top: 120px; margin-right: 1px"></svg>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>

        $('#loading').show();

        let urlPath = window.location.pathname;
        fetch('/distance', {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({'id' : urlPath.split("/")[2]}),
        })
            .then(response => response.json())
            .then(
                function createAndUpdatePlot(data) {

                    let Xmax = Math.max.apply(null, data.xValues);
                    let Ymax = Math.max.apply(null, data.yValues);
                    let Xmin = Math.min.apply(null, data.xValues);
                    let Ymin = Math.min.apply(null, data.yValues);

                    let layout = {
                        width : window.innerWidth * 0.95,
                        height : window.outerHeight * 0.75,
                        xaxis: {
                            range: [ Xmin + Xmin * 0.5, Xmax + Xmax * 0.5],
                        },
                        yaxis: {
                            range: [ Ymin + Ymin * 0.5, Ymax + Ymax * 0.5 ],
                        },
                        legend: {
                            y: 0.5,
                            yref: 'paper',
                            font: {
                                family: 'Arial, sans-serif',
                                size: 20,
                                color: 'grey',
                            }
                        },
                        title:`Recipe Space showcasing ${document.querySelector("#name").getAttribute("value")}`
                    };

                    let recipeSpace = {
                        trace1 : {
                            x: data.xValues,
                            y: data.yValues,
                            mode: 'markers+text',
                            type: 'scatter',
                            name: 'Team A',
                            text: data.ingredientNames,
                            textposition: 'top center',
                            textfont: {
                                family:  'Raleway, sans-serif'
                            },
                            marker: { size: 12 }
                        }
                    }


                    let newData = [ recipeSpace.trace1 ];

                    console.log(newData);
                    Plotly.newPlot('myDiv', newData, layout, {modeBarButtonsToRemove: ['autoScale2d']});
                })
            .catch((error) => {
                console.error('Error:', error);
            });

    </script>
</body>