<!DOCTYPE html>
<!--
    Displays the recipe and their properties
    author: Jurriën de Jong (function), Rose Hazenberg (styling, frequency plot (javascript))
-->
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="'Recipe ' + ${recipeName}">_offline_</title>
<head>

    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- jQuery -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.5.1.js">
    </script>

    <!-- DataTables CSS -->
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" th:src="@{/static/js/createDataTable.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/frequencyPlot.js}"></script>

    <link th:href="@{/static/css/stylesheet.css}" rel="stylesheet" />
</head>

<div th:insert="template :: background(${recipeName})"></div>

<body class="portfolio-section">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Table showcasing ingredient data</div>
            <table id="mainTables" class="table table-responsive table-hover"></table>
        </div>
    </div>

    <br>

    <h1>Ingredients:</h1>
    <div class="col-md-12" style="padding-left: 0">
        <div class="info">
            <i class="icon-info-sign" style="color: orange"></i>
            <span class="extra-info">
                Below there are the ingredients that are needed for the recipe. Here you can check the box if you have the ingredient.
            </span>
        </div>
    </div>

    <div th:each="amount:${ingredient_amount}">
        <input type="checkbox"/>
        <label th:text="${amount.tagValue}"></label>
    </div>


    <h1>Steps:</h1>
    <div class="col-md-12" style="padding-left: 0">
        <div class="info">
            <i class="icon-info-sign" style="color: orange"></i>
            <span class="extra-info">
                Below there are the steps which you can follow to complete the recipe. Here you can check the box if you completed the step.
            </span>
        </div>
    </div>

    <div th:each="step:${steps}">
        <input type="checkbox"/>
        <label th:text="${step.tagValue}"></label>
    </div>

    <div class="space"></div>

    <div id="chart">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        let currentURL = window.location.href;
        let id = currentURL.split("/")[4];
        let recipeURL = id + "/ingredients/False";
        console.log(recipeURL);
        fetch(recipeURL)
        .then(response => response.json())
        .then(data => parseData(data))
        .catch(error => console.log(error));


        function parseData(data){
            let newData = createOuterTable(data);
            let display = document.querySelector("#mainTables");
            display.innerHTML += newData.mainTable;
        }


        $(document).ready(function() {
            $('#recipe').DataTable({
                bFilter : false,
                "bLengthChange": false
            })

        });
        $(document).ready(function() {
            $('#ingredients').DataTable({
                bFilter : false,
                "bLengthChange": false
            })

        });
        $(document).ready(function() {
            $('#ingredient_amount').DataTable({
                bFilter : false,
                "bLengthChange": false
            })

        });
        $(document).ready(function() {
            $('#steps').DataTable({
                bFilter : false,
                "bLengthChange": false
            })

        });
    </script>

    <script th:inline="javascript">
        let htmlData = [[${ing_frequency}]];
        let recipesExact = [[${recipesExact}]];
        let recipeName = [[${recipeName}]];
        frequencyPlotViewer();
    </script>
</body>
</html>