<!DOCTYPE html>
<!--
    Displays the recipe and their properties
    author: Jurriën de Jong (function), Rose Hazenberg (styling)
-->
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="#{tab.title.recipe(${recipeName})}">_offline_</title>
<head>
    <!-- jQuery -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.5.1.js">
    </script>

    <!-- DataTables CSS -->
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" th:src="@{/static/js/createDataTable.js}"></script>

    <link th:href="@{/static/css/stylesheet.css}" rel="stylesheet" />
</head>

<div th:insert="template :: background(${recipeName})"></div>

<body class="portfolio-section">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Table showcasing ingredient data</div>
            <table id="mainTables" class="table table-responsive table-hover"></table>
        </div>
    </div>

    <br>

    <h1>Ingredients:</h1>
    <ul>
        <li th:each="amount:${ingredient_amount}"
            th:text="${amount.tagValue}"></li>
    </ul>

    <h1>   Steps:</h1>
    <ul>
        <li th:each="step:${steps}"
            th:text="${step.tagValue}"></li>
    </ul>

    <script>
        let currentURL = window.location.href;
        let id = currentURL[currentURL.length - 1];
        let recipeURL = id + "/ingredients";
        console.log(recipeURL);
        fetch(recipeURL)
        .then(response => response.json())
        .then(data => parseData(data))
        .catch(error => console.log(error));


        function parseData(data){
            let newData = createOuterTable(data);
            let display = document.querySelector("#mainTables");
            display.innerHTML += newData.mainTable;
        }


        $(document).ready(function() {
            $('#recipe').DataTable({
                bFilter : false,
                "bLengthChange": false
            })

        });
        $(document).ready(function() {
            $('#ingredients').DataTable({
                bFilter : false,
                "bLengthChange": false
            })

        });
        $(document).ready(function() {
            $('#ingredient_amount').DataTable({
                bFilter : false,
                "bLengthChange": false
            })

        });
        $(document).ready(function() {
            $('#steps').DataTable({
                bFilter : false,
                "bLengthChange": false
            })

        });
    </script>



    <div id="plot-example" data-plot-xMin="-1"></div>

    <canvas id="recipe-name" width="600" height="400"></canvas>


    <script th:inline="javascript">
        var htmlData = [[${ing_frequency}]];

        var frequency = {};
        var recipes = {};

        for (var i=0; i < htmlData.length; i++) {
            frequency[htmlData[i].name] = htmlData[i].count
            recipes[htmlData[i].name] = htmlData[i].recipe
        }

        let uniqueRecipesID =  Object.values(recipes).filter((item, i, ar) => ar.indexOf(item) === i);

        function sortDictornary(dict) {
            var items = Object.keys(dict).map(function (key) {
                return [key, dict[key]];
            });

            items.sort(function(first, second) {
                return second[1] - first[1];
            });

            var sortedDict = {}, useKey, useValue
            $.each(items, function(k, v) {
                useKey = v[0]
                useValue = v[1]
                sortedDict[useKey] = useValue
            })
            return(sortedDict)
        }

        const sortedFrequency = sortDictornary(frequency);

        var pointBackgroundColors = [];

        const recipeData = {
            labels : Object.keys(sortedFrequency),
            datasets : [
                {
                    borderWidth: 1,
                    barThickness: 6,
                    data : Object.values(sortedFrequency),
                    backgroundColor: pointBackgroundColors
                }
            ],
        }

        const recipe = document.getElementById('recipe-name');
        const myChart = new Chart(recipe, {
            type: 'bar',
            data: recipeData,
            valueField: 'count',
            argumentField: 'name',
            options: {
                events: ['click'],
                legend: {
                    display: false
                },
                scaleShowValues: true,
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Ingredient'
                        },
                        ticks: {
                            display: false,
                            autoSkip: true
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Frequency'
                        },
                        ticks: {
                            min: 0
                        }
                    }]
                },
                plugins: {
                    tooltip: {
                        events: ['click']
                    }
                }
                // tooltips: {
                //     enabled: true,
                //     mode: 'single',
                //     callbacks: {
                //         label: function (tooltipItems, data) {
                //             var multistringText = [tooltipItems.yLabel];
                //             multistringText.push("Another item");
                //             // multistringText.push(Object.values(data));
                //             multistringText.push('One more Item');
                //             return multistringText;
                //         }
                //     }
                // }
            }
        });

        for (i = 0; i < myChart.data.datasets[0].data.length; i++) {
            if (myChart.data.datasets[0].data[i] > Math.round(uniqueRecipesID.length * 0.7)) {
                pointBackgroundColors.push("#2471A3");
            } else {
                pointBackgroundColors.push("#239B56");
            }
        }

        myChart.update();

        recipe.onclick = function clickHandler(click) {
            const points = myChart.getElementsAtEventForMode(click, 'nearest',
                { intersect: true}, true);
            if (points[0]) {
                const firstPoint = points[0];
                console.log(points);
                console.log(firstPoint)update

                const value = myChart.data.datasets[firstPoint['_index']];
                console.log(value);
                console.log(Object.values(recipe));
            }
        }

    </script>
</body>
</html>