<!DOCTYPE html>
<!--
    Template containing fragments for the other pages to use
    author: Rose Hazenberg
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/static/css/stylesheet.css}" rel="stylesheet" />
</head>

<div th:fragment="navigation-bar">
    <nav class="navigation">
        <a th:href="@{/home}"><img class="navbar-logo" alt="recipe-spaces-logo" th:src="@{/static/images/RecipeSpaces.png}"/></a>
        <div class="navbar-right">
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/about}">About Us</a>
            <a th:href="@{/contact}">Contact</a>
        </div>
    </nav>
</div>

<header class="header" th:fragment="background(page)">
    <div th:insert="template :: navigation-bar"></div>

    <div class="background-wrap">
        <img class="video-bg-elem" alt="Ingredients" th:src="@{/static/images/ingredients.jpg}"/>
        <div class="content">
            <br><br><br><br>
            <h1 th:text="${page}"></h1>
        </div>
    </div>
</header>


<header class="header" th:fragment="background-contact">
    <div th:insert="template :: navigation-bar"></div>

    <div class="background-wrap">
        <img class="video-bg-elem" alt="Ingredients" th:src="@{/static/images/ingredients.jpg}"/>
        <div class="content">
            <h1>Contact Us</h1>
            <p>Do you have a question or comment? <br> Feel free to contact us.</p>
        </div>
    </div>
</header>

<footer class="footer-distributed" th:fragment="footer">
    <div class="space"></div>

    <div class="bg-light py-4">
        <div class="footer-right">
            <a th:href="@{https://github.com/JurrienDeJong/RecipeSpaces}"><i class="fa fa-github"></i></a>
        </div>

        <div class="footer-left">
            <img class="footer-logo" alt="recipe-spaces-logo" th:src="@{/static/images/RecipeSpacesFooter.png}"/>
            <p class="footer-links">
                <a class="link-1" th:href="@{/home}">Home</a>
                <a th:href="@{/about}">About</a>
                <a th:href="@{/contact}">Contact</a>
            </p>
            <p>&copy; 2022 Recipe Spaces. All rights reserved.</p>
        </div>
    </div>
</footer>
