<!DOCTYPE html>
<!--
    Displays the upload page with an upload form
    author: Jurriën de Jong
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" />
    <link th:href="@{/css/stylesheet-contact.css}" rel="stylesheet" />
</head>

<div th:insert="template :: background('Upload recipe data here')"></div>

<body class = "portfolio-section">
<div class="container my-5 mx-5 px-5">
    <form method="post" th:action="@{/upload}" th:object="${ingredientData}" enctype="multipart/form-data">

        <div class="field">
            <label for="recipe">
                Recipe Title:
            </label><br/>
            <input type="text" th:field="${ingredientData.recipeTag}" name="recipe" id="recipe" placeholder="Recipe Name Here" autofocus required>
        </div>

        <br>

        <label for="steps">
            Steps:
        </label><br/>
            <input autofocus required type="text" th:field="${ingredientData.step}" id="steps" name="steps" placeholder="Please separate steps with a period." style="width:250px; height: 100px"><br><br>

        <br>

        <div class="form-group">
            <input type="file" name="file" class="form-control-file" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Upload Data</button>
    </form>
</div>
</body>
</html>